
.env
.env.backup
.history
.phpunit.result.cache
/**/*.orig
/.idea
/.vscode
/node_modules
/public/css/app.css
/public/hot
/public/info.php
/public/js/app.js
/public/storage
/storage/*.key
/storage/logs/*.log
/vendor
Homestead.json
Homestead.yaml
docker-compose.override.yml
npm-debug.log
sail
yarn-error.log
